.main-div {
    display: flex;
}

.main-left-img-grid {
    margin-top: 0px;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-left-img-large img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.main-left-img-small {
    display: flex;
    gap: 5px;
}

.main-left-img-small div {
    flex: 1;
}

.main-left-img-small img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.main-right {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-right-top, .main-right-bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}